@use '~@angular/material' as mat;
@include mat.core();

@include mat.core();

.light-theme {
    color: rgba(black, 0.87);
    $light-primary: mat.define-palette(mat.$purple-palette);
    $light-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
    $light-warn: mat.define-palette(mat.$red-palette);
    $light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
  
    @include mat.all-component-themes($light-theme);
  }
  
  .dark-theme {
    $dark-primary: mat.define-palette(mat.$yellow-palette);
    $dark-accent: mat.define-palette(mat.$amber-palette, A400, A100, A700);
    $dark-warn: mat.define-palette(mat.$red-palette);
    $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
    @include mat.all-component-themes($dark-theme);
    color: beige;
    background-color: rgb(75, 74, 74);
  }
  
  .cdk-high-contrast-theme {
    $cdk-high-contrast-primary: mat.define-palette(mat.$blue-palette);
    $cdk-high-contrast-accent: mat.define-palette(mat.$pink-palette, A400, A100, A700);
    $cdk-high-contrast-warn: mat.define-palette(mat.$red-palette);
    $cdk-high-contrast-theme: mat.define-dark-theme($cdk-high-contrast-primary, $cdk-high-contrast-accent, $cdk-high-contrast-warn);
  
    @include mat.all-component-themes($cdk-high-contrast-theme);
    background-color: rgb(83, 87, 76);
  }

::ng-deep .mat-tab-label-active {
    color: black;
    background-color: green;
}

::ng-deep .dark-theme .mat-tab-label-active {
    color: black;
    background-color: rgb(6, 95, 212);
}

::ng-deep .cdk-high-contrast-theme .mat-tab-label-active {
    color: black;
    background-color: rgb(180, 179, 123);
}

::ng-deep .mat-tab-label {
    color: black;
}

::ng-deep .mat-tab-list .mat-tab-labels {
    color: black;
    background-color: lightblue;
}

::ng-deep .mat-tab-label:hover {
    background-color: rgb(97, 147, 156);
}   

::ng-deep .dark-theme .mat-tab-label {
    color: rgb(61, 52, 52);
}

::ng-deep .dark-theme .mat-tab-list .mat-tab-labels {
    color: rgb(100, 95, 95);
    background-color: whitesmoke;
}

::ng-deep .dark-theme .mat-tab-label:hover {
    background-color: rgb(131, 127, 127);
}

::ng-deep .cdk-high-contrast-theme .mat-tab-label {
    color: #FFFF00;
}

::ng-deep .cdk-high-contrast-theme .mat-tab-list .mat-tab-labels {
    color: rgb(111, 190, 87);
    background-color: rgb(170, 170, 170);
}

::ng-deep .cdk-high-contrast-theme .mat-tab-label:hover {
    background-color: rgb(133, 135, 236);
}   

::ng-deep .cdk-high-contrast-theme .keyboardTheming {
    color: #FFFF00;
}

@media screen and (orientation:portrait) {
    // CSS applied when the device is in portrait mode
    #container {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        -moz-transform: rotate(90deg); /* Mozilla */
        -o-transform: rotate(90deg); /* Opera */
        transform: rotate(-90deg);
        //width: __<<ngThemingMigrationEscapedComment4>>__ ;
        //height: __<<ngThemingMigrationEscapedComment5>>__ ;
        overflow: scroll;
    }
}

@media screen and (orientation:landscape) {
    // CSS applied when the device is in landscape mode
    #container {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}