/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

@include mat-core();

.light-theme {
  color: $dark-primary-text;
  $light-primary: mat-palette($mat-purple);
  $light-accent: mat-palette($mat-green, A200, A100, A400);
  $light-warn: mat-palette($mat-red);
  $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

  @include angular-material-theme($light-theme);
}

.dark-theme {
  $dark-primary: mat-palette($mat-green);
  $dark-accent: mat-palette($mat-orange, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.cdk-high-contrast-theme {
  $cdk-high-contrast-primary: mat-palette($mat-blue);
  $cdk-high-contrast-accent: mat-palette($mat-pink, A400, A100, A700);
  $cdk-high-contrast-warn: mat-palette($mat-red);
  $cdk-high-contrast-theme: mat-dark-theme($cdk-high-contrast-primary, $cdk-high-contrast-accent, $cdk-high-contrast-warn);

  @include angular-material-theme($cdk-high-contrast-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", "Noto Serif Armenian", "Noto Serif Georgian", "Noto Serif", "Noto Sans Devanagari", "Noto Sans Tamil", "Noto Sans", "Noto Sans", "Noto Sans CJK JP", sans-serif; }

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .dark-theme .toolbar {
    background-color: rgb(75, 74, 74);
  }

  .cdk-high-contrast-theme .toolbar {
    background-color:#53574c;
    color: #5fd0e4;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 20px auto 12px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .mat-expansion-panel-body {
    padding: 0 24px 0 !important;
  }

  .panelColor {
    background-color: lightsalmon;
  }

  .menuselect {
    width: 7%;
    height: 35px;
  }

  .mat-form-field-infix {
    border-top-width: 0.0px;
  }
  
  .mat-tab-body-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btnVert{
    background-color: blanchedalmond;
    display: inline-block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px black;
    box-shadow: 1px 3px;
    writing-mode: vertical-lr;
    vertical-align: text-top;
    cursor: pointer;
  }

  .dark-theme .btnVert{
    background-color: lightslategray;
    display: inline-block;
    width: 40px;
    height: 50px;
    color: #FFFF00;;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px beige;
    box-shadow: 1px 3px;
    writing-mode: vertical-lr;
    vertical-align: text-top;
    cursor: pointer;
  }

  .cdk-high-contrast-theme .btnVert{
    background-color: cadetblue;
    display: inline-block;
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFF00;;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px beige;
    box-shadow: 1px 3px;
    writing-mode: vertical-lr;
    vertical-align: text-top;
    cursor: pointer;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btn .cdk-drop-list-dragging .btn:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btn{
    background-color: blanchedalmond;
    display: inline-block;
    width: 55px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 5px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px black;
    box-shadow: 1px 3px;
    cursor: pointer;
    vertical-align: middle;
  }

  .dark-theme .btn{
    background-color: lightslategray;
    display: inline-block;
    width: 55px;
    height: 40px;
    color: beige;
    line-height: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 5px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px beige;
    box-shadow: 1px 3px;
    cursor: pointer;
    vertical-align: middle;
  }

  .cdk-high-contrast-theme .btn{
    background-color: cadetblue;
    display: inline-block;
    width: 55px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    color: #FFFF00;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 5px;
    margin: 3px;
    border-radius: 3px;
    border: solid 1px beige;
    box-shadow: 1px 3px;
    cursor: pointer;
    vertical-align: middle;
  }

  .btnSelected {
    background-color: rgb(211, 181, 136);
  }

  .dark-theme .btnSelected {
    background-color: rgb(91, 104, 117);
  }

  .cdk-high-contrast-theme .btnSelected {
    background-color: rgb(78, 128, 129);
  }

  .charSuper {
    font-size: 50%;
    vertical-align: top;
    line-height: 0;
    position: relative;
    color: darkolivegreen;
  }

  .dark-theme .charSuper {
    font-size: 50%;
    vertical-align: top;
    line-height: 0;
    position: relative;
    color: rgb(192, 192, 191);
  }

  .cdk-high-contrast-theme .charSuper {
    font-size: 50%;
    vertical-align: top;
    line-height: 0;
    position: relative;
    color: rgb(70, 71, 65);
  }
  
  .btn:hover{
    background-color: aliceblue;
    cursor: pointer;
  }

  .dark-theme .btn:hover{
    background-color: rgb(161, 164, 167);
  }

  .cdk-high-contrast-theme .btn:hover{
    background-color: rgb(196, 226, 253);
  }

  .keyboard-container{
      width: 100%;
      display: inline-block;
      text-align: center;
  }

  .keyboard-container ul{
      padding-left: 0;
      margin-top: 2px;
      margin-bottom: 2px;
  }

  .container{
    background-color: #F8F8F8 ; 
    display:inline-block; 
    padding: 10px; 
    text-align:center;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: lightblue;
  }

  .mat-input-element:disabled {
    color: darkgray;
  }
  
  .mat-select-arrow {
    visibility: hidden;
  }

  .mat-tab-header-pagination-chevron{
    border-color: lightblue;
  }

  .worldmapbkg{
    //background-image: url('./assets/images/World_Map.png');
    //background-repeat: no-repeat;
    //background-size: 70% 270px;
    //background-position: center top;
    height: 400px;
    width: 100%;
    //overflow: hidden;
}