<mat-tab-group dynamicHeight>
    <mat-tab label="Translate" style="text-align: center;">
      <div style="width: 100%;">
          <div style="background-color: lightskyblue;">
            <mat-form-field class="menuselect">
              <mat-label>&nbsp;&nbsp;&nbsp;&nbsp; {{ 'Languages' | translate }} ...</mat-label>
              <mat-select style="width: 450px;">
                <table>
                  <tr>
                    <td>
                      <mat-option value=" {{ 'Afrikaans' | translate }} " (click)="localeForUI('af')"> {{ 'Afrikaans' | translate }} </mat-option>
                      <mat-option value=" {{ 'Albanian' | translate }} " (click)="localeForUI('sq')"> {{ 'Albanian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Amharic' | translate }} " (click)="localeForUI('am')"> {{ 'Amharic' | translate }} </mat-option>
                      <mat-option value=" {{ 'Arabic' | translate }} " (click)="localeForUI('ar')"> {{ 'Arabic' | translate }} </mat-option>
                      <mat-option value=" {{ 'Armenian' | translate }} " (click)="localeForUI('hy')"> {{ 'Armenian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Azerbaijani' | translate }} " (click)="localeForUI('az')"> {{ 'Azerbaijani' | translate }} </mat-option>
                      <mat-option value=" {{ 'Basque' | translate }} " (click)="localeForUI('eu')"> {{ 'Basque' | translate }} </mat-option>
                      <mat-option value=" {{ 'Belarusian' | translate }} " (click)="localeForUI('be')"> {{ 'Belarusian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Bengali' | translate }} " (click)="localeForUI('bn')"> {{ 'Bengali' | translate }} </mat-option>
                      <mat-option value=" {{ 'Bosnian' | translate }} " (click)="localeForUI('bs')"> {{ 'Bosnian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Bulgarian' | translate }} " (click)="localeForUI('bg')"> {{ 'Bulgarian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Catalan' | translate }} " (click)="localeForUI('ca')"> {{ 'Catalan' | translate }} </mat-option>
                      <mat-option value=" {{ 'Cebuano' | translate }} " (click)="localeForUI('ceb')"> {{ 'Cebuano' | translate }} </mat-option>
                      <mat-option value=" {{ 'Chinese S' | translate }} " (click)="localeForUI('zh-CN')"> {{ 'Chinese S' | translate }} </mat-option>
                      <mat-option value=" {{ 'Chinese T' | translate }} " (click)="localeForUI('zh-TW')"> {{ 'Chinese T' | translate }} </mat-option>
                      <mat-option value=" {{ 'Corsican' | translate }} " (click)="localeForUI('co')"> {{ 'Corsican' | translate }} </mat-option>
                      <mat-option value=" {{ 'Croatian' | translate }} " (click)="localeForUI('hr')"> {{ 'Croatian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Czech' | translate }} " (click)="localeForUI('cs')"> {{ 'Czech' | translate }} </mat-option>
                      <mat-option value=" {{ 'Danish' | translate }} " (click)="localeForUI('da')"> {{ 'Danish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Dutch' | translate }} " (click)="localeForUI('nl')"> {{ 'Dutch' | translate }} </mat-option>
                      <mat-option value=" {{ 'English' | translate }} " (click)="localeForUI('en')"> {{ 'English' | translate }} </mat-option>
                      <mat-option value=" {{ 'Esperanto' | translate }} " (click)="localeForUI('eo')"> {{ 'Esperanto' | translate }} </mat-option>
                      <mat-option value=" {{ 'Estonian' | translate }} " (click)="localeForUI('et')"> {{ 'Estonian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Finnish' | translate }} " (click)="localeForUI('fi')"> {{ 'Finnish' | translate }} </mat-option>
                      <mat-option value=" {{ 'French' | translate }} " (click)="localeForUI('fr')"> {{ 'French' | translate }} </mat-option>
                      <mat-option value=" {{ 'Galician' | translate }} " (click)="localeForUI('gl')"> {{ 'Galician' | translate }} </mat-option>
                      <mat-option value=" {{ 'Georgian' | translate }} " (click)="localeForUI('ka')"> {{ 'Georgian' | translate }} </mat-option>
                    </td>
                    <td>
                      <mat-option value=" {{ 'Greek' | translate }} " (click)="localeForUI('el')"> {{ 'Greek' | translate }} </mat-option>
                      <mat-option value=" {{ 'German' | translate }} " (click)="localeForUI('de')"> {{ 'German' | translate }} </mat-option>
                      <mat-option value=" {{ 'Gujarati' | translate }} " (click)="localeForUI('gu')"> {{ 'Gujarati' | translate }} </mat-option>
                      <mat-option value=" {{ 'Haitian Creole' | translate }} " (click)="localeForUI('ht')"> {{ 'Haitian Creole' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hausa' | translate }} " (click)="localeForUI('ha')"> {{ 'Hausa' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hawaiian' | translate }} " (click)="localeForUI('haw')"> {{ 'Hawaiian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hebrew' | translate }} " (click)="localeForUI('he')"> {{ 'Hebrew' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hindi' | translate }} " (click)="localeForUI('hi')"> {{ 'Hindi' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hmong' | translate }} " (click)="localeForUI('hmn')"> {{ 'Hmong' | translate }} </mat-option>
                      <mat-option value=" {{ 'Hungarian' | translate }} " (click)="localeForUI('hu')"> {{ 'Hungarian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Icelandic' | translate }} " (click)="localeForUI('is')"> {{ 'Icelandic' | translate }} </mat-option>
                      <mat-option value=" {{ 'Igbo' | translate }} " (click)="localeForUI('igbo')"> {{ 'Igbo' | translate }} </mat-option>
                      <mat-option value=" {{ 'Latvian' | translate }} " (click)="localeForUI('lv')"> {{ 'Latvian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Lithuanian' | translate }} " (click)="localeForUI('lt')"> {{ 'Lithuanian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Luxembourgish' | translate }} " (click)="localeForUI('lb')"> {{ 'Luxembourgish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Macedonian' | translate }} " (click)="localeForUI('mk')"> {{ 'Macedonian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Malagasy' | translate }} " (click)="localeForUI('mg')"> {{ 'Malagasy' | translate }} </mat-option>
                      <mat-option value=" {{ 'Malay' | translate }} " (click)="localeForUI('ms')"> {{ 'Malay' | translate }} </mat-option>
                      <mat-option value=" {{ 'Kannada' | translate }} " (click)="localeForUI('kn')"> {{ 'Kannada' | translate }} </mat-option>
                      <mat-option value=" {{ 'Kazakh' | translate }} " (click)="localeForUI('kk')"> {{ 'Kazakh' | translate }} </mat-option>
                      <mat-option value=" {{ 'Khmer' | translate }} " (click)="localeForUI('km')"> {{ 'Khmer' | translate }} </mat-option>
                      <mat-option value=" {{ 'Kinyarwanda' | translate }} " (click)="localeForUI('rw')"> {{ 'Kinyarwanda' | translate }} </mat-option>
                      <mat-option value=" {{ 'Korean' | translate }} " (click)="localeForUI('ko')"> {{ 'Korean' | translate }} </mat-option>
                      <mat-option value=" {{ 'Kurdish' | translate }} " (click)="localeForUI('ku')"> {{ 'Kurdish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Kyrgyz' | translate }} " (click)="localeForUI('ky')"> {{ 'Kyrgyz' | translate }} </mat-option>
                      <mat-option value=" {{ 'Lao' | translate }} " (click)="localeForUI('lo')"> {{ 'Lao' | translate }} </mat-option>
                      <mat-option value=" {{ 'Latin' | translate }} " (click)="localeForUI('la')"> {{ 'Latin' | translate }} </mat-option>
                    </td>
                    <td>
                      <mat-option value=" {{ 'Indonesian' | translate }} " (click)="localeForUI('id')"> {{ 'Indonesian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Irish' | translate }} " (click)="localeForUI('ga')"> {{ 'Irish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Italian' | translate }} " (click)="localeForUI('it')"> {{ 'Italian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Japanese' | translate }} " (click)="localeForUI('ja')"> {{ 'Japanese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Javanese' | translate }} " (click)="localeForUI('jy')"> {{ 'Javanese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Malayalam' | translate }} " (click)="localeForUI('ml')"> {{ 'Malayalam' | translate }} </mat-option>
                      <mat-option value=" {{ 'Maltese' | translate }} " (click)="localeForUI('mt')"> {{ 'Maltese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Maori' | translate }} " (click)="localeForUI('mi')"> {{ 'Maori' | translate }} </mat-option>
                      <mat-option value=" {{ 'Marathi' | translate }} " (click)="localeForUI('mr')"> {{ 'Marathi' | translate }} </mat-option>
                      <mat-option value=" {{ 'Mongolian' | translate }} " (click)="localeForUI('mn')"> {{ 'Mongolian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Myanmar' | translate }} " (click)="localeForUI('my')"> {{ 'Myanmar' | translate }} </mat-option>
                      <mat-option value=" {{ 'Nepali' | translate }} " (click)="localeForUI('ne')"> {{ 'Nepali' | translate }} </mat-option>
                      <mat-option value=" {{ 'Norwegian' | translate }} " (click)="localeForUI('no')"> {{ 'Norwegian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Nyanja' | translate }} " (click)="localeForUI('ny')"> {{ 'Nyanja' | translate }} </mat-option>
                      <mat-option value=" {{ 'Odia' | translate }} " (click)="localeForUI('or')"> {{ 'Odia' | translate }} </mat-option>
                      <mat-option value=" {{ 'Pashto' | translate }} " (click)="localeForUI('ps')"> {{ 'Pashto' | translate }} </mat-option>
                      <mat-option value=" {{ 'Persian' | translate }} " (click)="localeForUI('fa')"> {{ 'Persian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Polish' | translate }} " (click)="localeForUI('pl')"> {{ 'Polish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Portuguese' | translate }} " (click)="localeForUI('pt')"> {{ 'Portuguese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Punjabi' | translate }} " (click)="localeForUI('pa')"> {{ 'Punjabi' | translate }} </mat-option>
                      <mat-option value=" {{ 'Romanian' | translate }} " (click)="localeForUI('ro')"> {{ 'Romanian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Russian' | translate }} " (click)="localeForUI('ru')"> {{ 'Russian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Samoan' | translate }} " (click)="localeForUI('sm')"> {{ 'Samoan' | translate }} </mat-option>
                      <mat-option value=" {{ 'Scots Gaelic' | translate }} " (click)="localeForUI('gd')"> {{ 'Scots Gaelic' | translate }} </mat-option>
                      <mat-option value=" {{ 'Serbian' | translate }} " (click)="localeForUI('sr')"> {{ 'Serbian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Sesotho' | translate }} " (click)="localeForUI('st')"> {{ 'Sesotho' | translate }} </mat-option>
                      <mat-option value=" {{ 'Shona' | translate }} " (click)="localeForUI('sn')"> {{ 'Shona' | translate }} </mat-option>
                    </td>
                    <td>
                      <mat-option value=" {{ 'Sindhi' | translate }} " (click)="localeForUI('sd')"> {{ 'Sindhi' | translate }} </mat-option>
                      <mat-option value=" {{ 'Sinhala' | translate }} " (click)="localeForUI('si')"> {{ 'Sinhala' | translate }} </mat-option>
                      <mat-option value=" {{ 'Slovak' | translate }} " (click)="localeForUI('sk')"> {{ 'Slovak' | translate }} </mat-option>
                      <mat-option value=" {{ 'Slovenian' | translate }} " (click)="localeForUI('sl')"> {{ 'Slovenian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Somalia' | translate }} " (click)="localeForUI('so')"> {{ 'Somalia' | translate }} </mat-option>
                      <mat-option value=" {{ 'Spanish' | translate }} " (click)="localeForUI('es')"> {{ 'Spanish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Sudanese' | translate }} " (click)="localeForUI('su')"> {{ 'Sudanese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Swahili' | translate }} " (click)="localeForUI('sw')"> {{ 'Swahili' | translate }} </mat-option>
                      <mat-option value=" {{ 'Swedish' | translate }} " (click)="localeForUI('sv')"> {{ 'Swedish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Tagalog' | translate }} " (click)="localeForUI('tl')"> {{ 'Tagalog' | translate }} </mat-option>
                      <mat-option value=" {{ 'Tajik' | translate }} " (click)="localeForUI('tg')"> {{ 'Tajik' | translate }} </mat-option>
                      <mat-option value=" {{ 'Tamil' | translate }} " (click)="localeForUI('ta')"> {{ 'Tamil' | translate }} </mat-option>
                      <mat-option value=" {{ 'Tatar' | translate }} " (click)="localeForUI('tt')"> {{ 'Tatar' | translate }} </mat-option>
                      <mat-option value=" {{ 'Telugu' | translate }} " (click)="localeForUI('te')"> {{ 'Telugu' | translate }} </mat-option>
                      <mat-option value=" {{ 'Thai' | translate }} " (click)="localeForUI('th')"> {{ 'Thai' | translate }} </mat-option>
                      <mat-option value=" {{ 'Turkish' | translate }} " (click)="localeForUI('tr')"> {{ 'Turkish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Turkmen' | translate }} " (click)="localeForUI('tk')"> {{ 'Turkmen' | translate }} </mat-option>
                      <mat-option value=" {{ 'Ukrainian' | translate }} " (click)="localeForUI('uk')"> {{ 'Ukrainian' | translate }} </mat-option>
                      <mat-option value=" {{ 'Urdu' | translate }} " (click)="localeForUI('ur')"> {{ 'Urdu' | translate }} </mat-option>
                      <mat-option value=" {{ 'Uyghur' | translate }} " (click)="localeForUI('ug')"> {{ 'Uyghur' | translate }} </mat-option>
                      <mat-option value=" {{ 'Uzbek' | translate }} " (click)="localeForUI('uz')"> {{ 'Uzbek' | translate }} </mat-option>
                      <mat-option value=" {{ 'Vietnamese' | translate }} " (click)="localeForUI('vi')"> {{ 'Vietnamese' | translate }} </mat-option>
                      <mat-option value=" {{ 'Welsh' | translate }} " (click)="localeForUI('cy')"> {{ 'Welsh' | translate }} </mat-option>
                      <mat-option value=" {{ 'Xhosa' | translate }} " (click)="localeForUI('xh')"> {{ 'Xhosa' | translate }} </mat-option>
                      <mat-option value=" {{ 'Yiddish' | translate }} " (click)="localeForUI('yi')"> {{ 'Yiddish' | translate }} </mat-option>
                      <mat-option value=" {{ 'Yoruba' | translate }} " (click)="localeForUI('yo')"> {{ 'Yoruba' | translate }} </mat-option>
                      <mat-option value=" {{ 'Zulu' | translate }} " (click)="localeForUI('zu')"> {{ 'Zulu' | translate }} </mat-option>
                    </td>
                  </tr>
                </table>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;<mat-icon>g_translate</mat-icon> &nbsp; <b style="color: black;">{{ 'Translate between a set of Languages' | translate }}</b><p style="float: right; padding-top: 10px;"><img src="./../../assets/images/googlelogo.png" width="68px" height="20px" style="margin-bottom: -5px;"/> Translate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div><br/>
          <table style="width: 100%;">
            <tr>
              <td style="width: 50%">
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{localeOfUI}}</b>
              </td>
              <td style="width: 50%">
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{localeToTranslate}}</b>
              </td>
            </tr>
          </table>
          <form style="text-align: center;">
            <mat-form-field style="width: 46%;">
              <textarea matInput placeholder="{{ 'Type text in any Language' | translate }}"></textarea>
            </mat-form-field> &nbsp;&nbsp;&nbsp;
            <mat-icon aria-hidden="false" (click)="swapLanguage()" style="cursor: pointer;">swap_horiz</mat-icon>
            &nbsp;&nbsp;&nbsp;
            <mat-form-field style="width: 46%;">
              <textarea matInput placeholder="{{ 'Transation in any Language' | translate }}" readonly></textarea>
            </mat-form-field>
          </form>
          &nbsp;&nbsp;&nbsp; {{ 'Translate between yet another set' | translate }} <mat-icon aria-hidden="false" aria-label="Yet another set to translate">add_circle_outline</mat-icon><br/><br/>
          <!-- Tab delete : https://stackblitz.com/angular/eardvdpkrkgy?file=app%2Ftab-group-dynamic-example.html -->
        </div>
    </mat-tab>
    <mat-tab label="{{ 'Dictionary' | translate }}">
        
    </mat-tab>
    <mat-tab label="{{ 'Thesaurus' | translate }}">
        
    </mat-tab>
    <mat-tab label="{{ 'Linguistic' | translate }} {{ 'Information' | translate }}">
      {{ 'used to write' | translate }} Romance, Anglo-Saxon, Celtic, Gaellic, Germanic, Gothic, Scandinavian, Baltic, Balkan, Cyrillic, Greek, Berber, Armenian, Georgian, Mongolic, Turkic, many African, Austronesian & Polynesian {{ 'languages' | translate }} {{ 'and' | translate }} {{ 'more' | translate }}. <br/> &nbsp;&nbsp;
      {{ 'used to write' | translate }} Arabic Hebrew Persian Aramaic Syriac {{ 'and' | translate }} {{ 'more' | translate }}.
      Info from URL like Decode Unicode/Script Source/Wikipedia/Ancient Scripts/Atlas of Endangered Alphabets : https://decodeunicode.org/en/scripts/thaana#thaana
    </mat-tab>
</mat-tab-group>
<div class="keyboard-container" dir="ltr">
  <ul *ngFor="let rows of layoutCurrentKeys" style="list-style-type: none;">
    <li *ngFor="let character of (isQwerty? ( (isTransliterate) ? ( (isShiftKeyPress) ? rows.qwertyShiftTrans : rows.qwertyTrans ) : ( (isShiftKeyPress) ? rows.qwertyShift : rows.qwerty ) ) : ((keysToRotate && enableRotateKeyboard)? rows.rowVert : rows.row) )" class="btn" [ngStyle]="{'color': character.type == 'swara'? 'brown' : ((character.type == 'unused')? 'darkgrey' :'inherit'), 'cursor': 'pointer', 'width' : (character.action == 'space' || character.action == 'enter') ? '180px' : '55px', 'transform': (character.orient == 'b2t' && keysToRotate)? 'rotate(-90deg)' : ((character.orient == 't2b' && keysToRotate) ? 'rotate(90deg)' : ((character.rtl == 'true') ? 'scaleX(-1)': 'none'))}" (click)="keyPressed(character, character.value, character.action, character.type)">
        {{character.value}}
    </li>
  </ul>
</div>