<div *ngIf="isMobile && !isTablet" class="toolbar" role="banner">
  &nbsp;&nbsp;&nbsp;<mat-form-field class="menuselect">
      <mat-icon style="cursor: pointer;font-size: 20px;" aria-label="{{ 'Translate' | translate }}" alt="{{ 'Translate' | translate }}" matTooltip="{{ 'Translate' | translate }}">language</mat-icon>
      <mat-select style="width: 300px;" [(value)]="localeUISelection" #selectAllLanguages (paste)="pasteInputFieldForAttacks($event)">
        <table style="table-layout: fixed;width: 100%;">
          <tr>
            <td>
              <mat-option *ngFor="let language of supportedLanguageColumn1" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
              <mat-option *ngFor="let language of supportedLanguageColumn2" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
            </td>
            <td>
              <mat-option *ngFor="let language of supportedLanguageColumn3" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
              <mat-option *ngFor="let language of supportedLanguageColumn4" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
            </td>
          </tr>
        </table>
      </mat-select>
    </mat-form-field>
    <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 35px; word-wrap: break-word; text-align: center; width: 86%;">{{ 'Power to Write Every Word in the World' | translate }}</h3>
    <button mat-button [matMenuTriggerFor]="afterMenu"><mat-icon style="cursor: pointer;font-size: 17px;width: 7%;" aria-label="{{ 'Themes' | translate }}" alt="{{ 'Themes' | translate }}" matTooltip="{{ 'Themes' | translate }}">menu</mat-icon></button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button *ngIf="exploreOnly" mat-menu-item (click)="exploreMode()" style="cursor: pointer;"><mat-icon aria-label="{{ 'Explore Keyboards' | translate }}" alt="{{ 'Explore Keyboards' | translate }}" matTooltip="{{ 'Explore Keyboards' | translate }}">explore</mat-icon>{{ 'Explore Keyboards' | translate }}</button>
      <button *ngIf="!exploreOnly" mat-menu-item (click)="exploreMode()" style="cursor: pointer;"><mat-icon aria-label="{{ 'Show All' | translate }}" alt="{{ 'Show All' | translate }}" matTooltip="{{ 'Show All' | translate }}">explore_off</mat-icon>{{ 'Show All' | translate }}</button>
      <button mat-menu-item (click)="helpForUser('privacy')" style="cursor: pointer;"><mat-icon aria-label="{{ 'User Choice' | translate }}" alt="{{ 'User Choice' | translate }}" matTooltip="{{ 'User Choice' | translate }}">person_pin</mat-icon>{{ 'User Choice' | translate }}</button>
      <button mat-menu-item (click)="helpForUser('help')" style="cursor: pointer;"><mat-icon aria-label="{{ 'Help Assistance' | translate }}" alt="{{ 'Help Assistance' | translate }}" matTooltip="{{ 'Help Assistance' | translate }}">help_center</mat-icon>{{ 'Help Assistance' | translate }}</button>
      <button mat-menu-item disabled><mat-icon style="cursor: pointer;" aria-label="{{ 'Themes' | translate }}" alt="{{ 'Themes' | translate }}" matTooltip="{{ 'Themes' | translate }}">palette</mat-icon> {{ 'Themes' | translate }}</button>
      <button mat-menu-item style="color: black;font-size: 0.8rem;" (click)="swapToDarkTheme()">{{ 'Dark' | translate }}</button>
      <button mat-menu-item style="font-size: 0.8rem; color: azure;" (click)="swapToLightTheme()">{{ 'Light' | translate }}</button>
      <button mat-menu-item style="color: greenyellow;font-size: 0.8rem;" (click)="swapToHighContrastTheme()">{{ 'High Contrast' | translate }}</button>
    </mat-menu>
</div>

<div *ngIf="!isMobile && isTablet" class="toolbar" role="banner">
  <button mat-icon-button [matMenuTriggerFor]="afterMenu"><mat-icon style="cursor: pointer;" aria-label="{{ 'Themes' | translate }}" alt="{{ 'Themes' | translate }}" matTooltip="{{ 'Themes' | translate }}">palette</mat-icon></button>&nbsp;&nbsp;
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item style="color: black;font-size: 0.8rem;" (click)="swapToDarkTheme()">{{ 'Dark' | translate }}</button>
    <button mat-menu-item style="font-size: 0.8rem; color: azure;" (click)="swapToLightTheme()">{{ 'Light' | translate }}</button>
    <button mat-menu-item style="color: greenyellow;font-size: 0.8rem;" (click)="swapToHighContrastTheme()">{{ 'High Contrast' | translate }}</button>
  </mat-menu>
  <mat-form-field class="menuselect">
    <mat-icon style="cursor: pointer;" aria-label="{{ 'Translate' | translate }}" alt="{{ 'Translate' | translate }}" matTooltip="{{ 'Translate' | translate }}">language</mat-icon>
    <mat-select style="width: 450px;" [(value)]="localeUISelection" #selectAllLanguages (paste)="pasteInputFieldForAttacks($event)">
      <table style="table-layout: fixed;width: 100%;">
        <tr>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn1" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn2" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn3" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
        </tr>
      </table>
    </mat-select>
  </mat-form-field>
  <div class="spacer"></div>
  <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 10px; word-wrap: break-word; text-align: center;">{{ 'Power to Write Every Word in the World' | translate }}</h2>
  <div class="spacer"></div>
  <mat-icon (click)="exploreMode()" *ngIf="exploreOnly" style="cursor: pointer;" aria-label="{{ 'Explore Keyboards' | translate }}" alt="{{ 'Explore Keyboards' | translate }}" matTooltip="{{ 'Explore Keyboards' | translate }}">explore</mat-icon>
  <mat-icon (click)="exploreMode()" *ngIf="!exploreOnly" style="cursor: pointer;" aria-label="{{ 'Show All' | translate }}" alt="{{ 'Show All' | translate }}" matTooltip="{{ 'Show All' | translate }}">explore_off</mat-icon>&nbsp;&nbsp;
  <mat-icon (click)="helpForUser('privacy')" style="cursor: pointer;" aria-label="{{ 'User Choice' | translate }}" alt="{{ 'User Choice' | translate }}" matTooltip="{{ 'User Choice' | translate }}">person_pin</mat-icon>&nbsp;&nbsp;
  <mat-icon (click)="helpForUser('help')" style="cursor: pointer;" matTooltip="{{ 'Help Assistance' | translate }}">help_center</mat-icon>&nbsp;&nbsp;&nbsp;
</div>

<div *ngIf="!isMobile && !isTablet" class="toolbar" role="banner">
  <button mat-icon-button [matMenuTriggerFor]="afterMenu"><mat-icon style="cursor: pointer;" aria-label="{{ 'Themes' | translate }}" alt="{{ 'Themes' | translate }}" matTooltip="{{ 'Themes' | translate }}">palette</mat-icon></button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item style="color: black;font-size: 0.8rem;" (click)="swapToDarkTheme()">{{ 'Dark' | translate }}</button>
    <button mat-menu-item style="font-size: 0.8rem; color: azure;" (click)="swapToLightTheme()">{{ 'Light' | translate }}</button>
    <button mat-menu-item style="color: greenyellow;font-size: 0.8rem;" (click)="swapToHighContrastTheme()">{{ 'High Contrast' | translate }}</button>
  </mat-menu>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <mat-form-field class="menuselect">
    <mat-label>{{ 'Languages' | translate }} ...</mat-label>
    <mat-select style="width: 450px;" [(value)]="localeUISelection">
      <table style="table-layout: fixed;width: 100%;">
        <tr>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn1" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn2" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn3" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
          <td>
            <mat-option *ngFor="let language of supportedLanguageColumn4" value="language.value" (click)="localeForUI(language.url)"> {{language.value}} </mat-option>
          </td>
        </tr>
      </table>
    </mat-select>
  </mat-form-field>
  <div class="spacer"></div>
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 10px;">{{ 'Power to Write Every Word in the World' | translate }}</h1>
  <div class="spacer"></div>
  <mat-icon (click)="exploreMode()" *ngIf="exploreOnly" style="cursor: pointer;" aria-label="{{ 'Explore Keyboards' | translate }}" alt="{{ 'Explore Keyboards' | translate }}" matTooltip="{{ 'Explore Keyboards' | translate }}">explore</mat-icon>
  <mat-icon (click)="exploreMode()" *ngIf="!exploreOnly" style="cursor: pointer;" aria-label="{{ 'Show All' | translate }}" alt="{{ 'Show All' | translate }}" matTooltip="{{ 'Show All' | translate }}">explore_off</mat-icon>&nbsp;&nbsp;&nbsp;
  <mat-icon (click)="helpForUser('privacy')" style="cursor: pointer;" aria-label="{{ 'User Choice' | translate }}" alt="{{ 'User Choice' | translate }}" matTooltip="{{ 'User Choice' | translate }}">person_pin</mat-icon>&nbsp;&nbsp;&nbsp;
  <mat-icon (click)="helpForUser('help')" style="cursor: pointer;" matTooltip="{{ 'Help Assistance' | translate }}">help_center</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
</div>