<table *ngIf="isMobile && !isTablet && !calculatorOnly" style="width: 100%;text-align: center;">
  <tr>
    <td *ngIf="!inExplorerMode">
      <mat-slide-toggle (click)="showOnlyKeyboard()" [(ngModel)]="onlyKeyboardToggle"><img src="./../assets/images/favicon.png" matTooltip="{{ 'Power to Write Every Word in the World' | translate }}" alt="{{ 'Power to Write Every Word in the World' | translate }}" width="40"></mat-slide-toggle> 
    </td>
    <td><mat-icon aria-label="{{ 'Switch Keyboards with Language Change' | translate }}" alt="{{ 'Switch Keyboards with Language Change' | translate }}" matTooltip="{{ 'Switch Keyboards with Language Change' | translate }}">model_training</mat-icon>&nbsp;&nbsp;
      <mat-slide-toggle (click)="switchTogther()" [(ngModel)]="keyboardDisassociateLocale"></mat-slide-toggle>&nbsp;&nbsp;
    </td>
    <td *ngIf="!noTypewriterPresent">
      <mat-icon aria-label="{{ 'QWERTY' | translate }}" alt="{{ 'QWERTY' | translate }}" matTooltip="{{ 'QWERTY' | translate }}">keyboard</mat-icon>&nbsp;&nbsp;
      <mat-slide-toggle (click)="qwertyKeyboard()" [(ngModel)]="languageBased"><mat-icon aria-label="{{ 'Orthography' | translate }}" alt="{{ 'Orthography' | translate }}" matTooltip="{{ 'Orthography' | translate }}">view_comfy</mat-icon></mat-slide-toggle>&nbsp;&nbsp;
    </td>
    <td *ngIf="allowTransliterate">
      <mat-slide-toggle (click)="(languageBased)? languageBased : transliterationKeysClicked()" [disabled]="languageBased" [(ngModel)]="transliterateKeyboard"><mat-icon aria-label="{{ 'Transliteration' | translate }}" alt="{{ 'Transliteration' | translate }}" matTooltip="{{ 'Transliteration' | translate }}">keyboard_alt</mat-icon></mat-slide-toggle>&nbsp;&nbsp;
    </td>
  </tr>
</table>

<table *ngIf="!isMobile && isTablet && !calculatorOnly" style="width: 100%;text-align: center;">
  <tr>
    <td *ngIf="!inExplorerMode">
      &nbsp;&nbsp; 
      <mat-icon aria-label="{{ 'All' | translate }}" alt="{{ 'All' | translate }}" matTooltip="{{ 'All' | translate }}">travel_explore</mat-icon> &nbsp;&nbsp; 
      <mat-slide-toggle (click)="showOnlyKeyboard()" [(ngModel)]="onlyKeyboardToggle"><img src="./../assets/images/favicon.png" matTooltip="{{ 'Power to Write Every Word in the World' | translate }}" alt="{{ 'Power to Write Every Word in the World' | translate }}" width="40"></mat-slide-toggle> &nbsp;&nbsp; 
    </td>
    <td><mat-icon aria-label="{{ 'Switch Keyboards with Language Change' | translate }}" alt="{{ 'Switch Keyboards with Language Change' | translate }}" matTooltip="{{ 'Switch Keyboards with Language Change' | translate }}">model_training</mat-icon>&nbsp;&nbsp;
      <mat-slide-toggle (click)="switchTogther()" [(ngModel)]="keyboardDisassociateLocale"><mat-icon>highlight_off</mat-icon></mat-slide-toggle>
    </td>
    <td *ngIf="!noTypewriterPresent">
      <mat-icon aria-label="{{ 'QWERTY' | translate }}" alt="{{ 'QWERTY' | translate }}" matTooltip="{{ 'QWERTY' | translate }}">keyboard</mat-icon> &nbsp;&nbsp; 
      <mat-slide-toggle (click)="qwertyKeyboard()" [(ngModel)]="languageBased"><mat-icon aria-label="{{ 'Orthography' | translate }}" alt="{{ 'Orthography' | translate }}" matTooltip="{{ 'Orthography' | translate }}">view_comfy</mat-icon></mat-slide-toggle> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td *ngIf="allowTransliterate">
      <mat-slide-toggle (click)="(languageBased)? languageBased : transliterationKeysClicked()" [disabled]="languageBased" [(ngModel)]="transliterateKeyboard"><mat-icon aria-label="{{ 'Transliteration' | translate }}" alt="{{ 'Transliteration' | translate }}" matTooltip="{{ 'Transliteration' | translate }}">keyboard_alt</mat-icon></mat-slide-toggle>&nbsp;&nbsp;
    </td>
  </tr>
</table>

<table *ngIf="!isMobile && !isTablet && !calculatorOnly" style="width: 100%;text-align: center;">
  <tr>
    <td *ngIf="!inExplorerMode">
      &nbsp;&nbsp; 
      <span [ngStyle]="{'font-weight': showAllInitially == true ? 'bold' : 'normal'}"><mat-icon aria-label="{{ 'All' | translate }}" alt="{{ 'All' | translate }}" matTooltip="{{ 'All' | translate }}">travel_explore</mat-icon></span> &nbsp;&nbsp; 
      <mat-slide-toggle (click)="showOnlyKeyboard()" [(ngModel)]="onlyKeyboardToggle"><img src="./../assets/images/favicon.png" matTooltip="{{ 'Power to Write Every Word in the World' | translate }}" alt="{{ 'Power to Write Every Word in the World' | translate }}" width="40"></mat-slide-toggle> 
    </td>
    <td>
      {{ 'Switch Keyboards with Language Change' | translate }} : &nbsp; 
      <span [ngStyle]="{'font-weight': keyboardDisassociateLocale == true ? 'normal' : 'bold'}"><mat-icon aria-label="{{ 'Switch Keyboards with Language Change' | translate }}" alt="{{ 'Switch Keyboards with Language Change' | translate }}" matTooltip="{{ 'Switch Keyboards with Language Change' | translate }}">model_training</mat-icon> &nbsp;&nbsp; {{ 'On' | translate }}</span> &nbsp;&nbsp; 
      <mat-slide-toggle (click)="switchTogther()" [(ngModel)]="keyboardDisassociateLocale"></mat-slide-toggle> &nbsp;&nbsp; 
      <span [ngStyle]="{'font-weight': keyboardDisassociateLocale == true ? 'bold' : 'normal'}">{{ 'Off' | translate }}</span>
    </td>
    <td *ngIf="!noTypewriterPresent">
      <mat-icon aria-label="{{ 'QWERTY' | translate }}" alt="{{ 'QWERTY' | translate }}" matTooltip="{{ 'QWERTY' | translate }}">keyboard</mat-icon> &nbsp;&nbsp; 
      <span [ngStyle]="{'font-weight': languageBased == true ? 'normal' : 'bold'}">{{ 'QWERTY' | translate }}</span> &nbsp;&nbsp; 
      <mat-slide-toggle (click)="qwertyKeyboard()" [(ngModel)]="languageBased"></mat-slide-toggle> &nbsp;&nbsp; 
      <span [ngStyle]="{'font-weight': languageBased == true ? 'bold' : 'normal'}">{{ 'Orthography' | translate }} &nbsp;&nbsp;<mat-icon aria-label="{{ 'Orthography' | translate }}" alt="{{ 'Orthography' | translate }}" matTooltip="{{ 'Orthography' | translate }}">view_comfy</mat-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td *ngIf="allowTransliterate">
      <span [ngStyle]="{'font-weight': transliterateKeyboard == true ? 'normal' : 'bold'}">{{ 'Standard' | translate }}</span> &nbsp;&nbsp;
      <mat-slide-toggle (click)="(languageBased)? languageBased : transliterationKeysClicked()" [disabled]="languageBased" [(ngModel)]="transliterateKeyboard"><mat-icon aria-label="{{ 'Transliteration' | translate }}" alt="{{ 'Transliteration' | translate }}" matTooltip="{{ 'Transliteration' | translate }}">keyboard_alt</mat-icon></mat-slide-toggle>&nbsp;&nbsp; 
      <span [ngStyle]="{'font-weight': transliterateKeyboard == true ? 'bold' : 'normal'}">{{ 'Transliteration' | translate }}</span>
    </td>
  </tr>
</table>